Body {
    background-color: #efefef;
}

.weather-container {
    margin: 0 auto;
    width: 900px;
    margin-top: 30px;
}

.searchfield {
    width: 900px;
    background-color: #ffffff;
}

.day {
    flexGrow: 1
}

.dayBlock {
    height: 150px;
    width: 95px;
    position: relative;
}

.dayHeader {
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.error {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorText {
    color: #6B242A;
}

/* Temperature blocks */

.dayTime {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 11px;
    color: #999999;
}

.dayTemp {
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.dayDescription {
    font-size: 14px;
    color: #333333;
    text-transform: capitalize;
    margin: 5px 5px 0 5px;
    text-align: center;
    width: fit-content;
    display: block;
}

.dayIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}